body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 100px;
}
.button-all{
    background: #21B573;
    border-radius: 33px;
    color: #fff;
    border: none;
    padding: 7px 25px;
    cursor: pointer;
}
li {
    margin: 15px;
}

h1{
    font-weight: 700;
}
h2{
    text-align: center;
    color: #696969;
    font-weight: 700;
    margin-bottom: 40px;
}
h6 {
   
    color:  #FD511A ;
}

/* top-banner */

.fixed-top{
    background-color: #F0FFF0;
}
.top-banner{
    background-color: #F0FFF0;
}
.nav-logo{
    width: 198.07px;
    height: 59px;
}
.span-color{
    color: #21B573 ;
    font-weight: 700;
}
.carousel-control-prev-icon{
    visibility: hidden;
}
.carousel-control-next-icon{
    visibility: hidden;
}

/* criteria */

.criteria img {
    width: 66px;
    height: 95px;
    padding-top: 35px;
}
.criteria-card{
    background-color: #F0FFF0;
    border: none;
    border-radius: 15px;
}
.criteria-card:hover{
    background-color: white;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-title{
    color: black;
}
.card-text {
    text-align: center;
}

/* course */
.courses img{
    width: 331px;
    height: 234px;
    padding: 20px;
}
.courses-card{
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.icon-image{
    height: 20px;
    width: 20px;
    padding: none;
    margin: none;
}
.course-text{
  margin-left: 12px;
}

/* testimonial */
.testimonial img {
    width: 120px;
    height: 120px;
}
cite{
    text-align: right;
}


/* team */
.team img{
    height: 300px;
    width: 300px;
    padding: 30px;
    
}
.team-card{
    border: none;
    border-radius: 15px;
}

/* contact */

#contact{
    
    background:#efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0;
    border: none ;
}

.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
    
}
.contact-info .fa{
    margin: 10px;
    color: #21B573;
    font-weight: bold;
}

/* purchase */
.purchase-title{
    text-align: center;
}
.purchase-button{
    margin-left: 70px;
}

/* footer */


a{
    color: white ;
}
a:hover{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer{
    background-color: #282531;
  
}
.e-school-footer p,h5{
    color: white;
   
}
.e-school-footer{
    padding: 70px 100px 100px 100px;
}
small{
   padding-left: 470px;
    color: white;
}
h5{
    margin-left: 13px;
}